.section__about {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    overflow: hidden;
    h3 {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    p {
      margin-bottom: 8px;
      line-height: 1.6rem;
    }
  }

  @media only screen and (min-width: 772px) {
    .section__about {
      h3 {
        margin-top: 0px;
      }
    }
  }
