.section__careers {
    position: relative;
    h2 {
      text-align: center;
    }
    h3 {
      margin-top: 1rem;
    }
    &_container{
      margin-top: 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    &_date {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #011135;
      color: white;
      padding-top: 2rem;
      padding-bottom: 2rem;
      &_title {
        text-align: center;
      }
    }
    &_text {
      padding: 1.2rem;
    }
    &_text_middle::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 27px 27px 27px 27px;
      border-color:  #ffc107 transparent transparent transparent;
      bottom: -55px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
