.section__contact {
    h2 {
        text-align: center;
    }
    &_container{
        background: rgba(27, 27, 27, 0.6);  /* fallback for old browsers */
        background: linear-gradient(rgba(27, 27, 27, 0.6), rgba(27, 27, 27, 0.6)), url("../../images/message.jpeg");
        background-blend-mode: luminosity;
        // background-image: url(../../images/message.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding-left: 0!important;
        padding-right: 0!important;
    }

}

.btn-validation {
    flex-wrap: wrap;
}

