@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Orbitron&display=swap');



body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 3.5rem;
  background-color: #011135;
  color: white;
  padding-top: 9px;
  a:hover {
    color: #ffc107!important;
  }
  .top-header {
    .desktop-menu {
        display: none;
    }
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      z-index: 9000;
      .logo {
          // padding-top: 1.9rem;
          font-size: 1.5rem;
          color: white;
          margin-right: 9rem;
          font-family: 'Orbitron', sans-serif;
      }
      .hamburger {

          span {
              display: block;
              height: 2px;
              width: 0.8rem;
              background-color: white;
              margin-bottom: 0.2rem;
              transition: transform 200ms ease-in-out;
              transform-origin: -0.7px 1px;
          }
      }
  }

  .open {
      .hamburger {
          > span:first-child{
              transform: rotate(45deg);
          }
          > span:nth-child(2){
              opacity: 0;
          }
          > span:last-child{
              transform: rotate(-45deg);
          }
      }
  }

  .menu {
      position: relative;
      z-index: 1;
      display: grid;
      background-color: #011135;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4rem;
      border-radius: 10px;
      height: 13.2rem;
      opacity: 0;
      transition: all 300ms ease-in-out;
      a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: white;
          padding-left: 1.8rem;
      }
      > a:nth-child(2){
          border-top: 1px solid lightcyan;
          border-bottom: 1px solid lightcyan;
      }
      > a:nth-child(3){
          border-top: 1px solid lightcyan;
          border-bottom: 1px solid lightcyan;
      }
      > a:nth-child(4){
          border-top: 1px solid lightcyan;
          border-bottom: 1px solid lightcyan;
      }
  }
  .notSelected {
      opacity: 0;
      visibility: hidden;
  }
  .selected {
      visibility: visible;
      opacity: 1;
      transition: all 300ms ease-in-out;
  }


}

@media only screen and (min-width: 992px) {
  .header {
  height: 3.8rem;
      .top-header {
          align-items: center;
          .logo {
              margin-right: 3rem;
          }
          .desktop-menu {
              display: inline;
              margin-left: 17rem;
              a {
                  text-decoration: none;
                  color: white;
                  margin-left: 3rem;
                  align-items: center;
              }
          }
          .hamburger {
              display: none;
          }
      }
  }
}

@media only screen and (max-width: 991px) {
  .header {
      .desktop-menu {
          display: none;
      }
      .hamburger {
        padding-top: 0.8rem;
          display: block;
      }
  }
}


