.hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
    background: rgba(27, 27, 27, 0.6);  /* fallback for old browsers */
    background: linear-gradient(rgba(27, 27, 27, 0.6), rgba(27, 27, 27, 0.6)), url("../../images/prototype.jpg");
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    &__text-container {
      height: 100%;
      .hero-text {
        padding: 0.6rem;
        color: white;
        text-align: center;
        margin: auto auto;
        background: #00000025;
        box-shadow: rgba(216, 216, 216, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 10px;
        h2 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }
        h5 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
        a {
          width: 8.5rem;
        }
        a + a {
          margin-left: 1rem;
        }
      }
    }
  }

  .button-container{
    position: absolute;
    bottom: -1.4rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: max-content;
    .btn-icon {
      color: #eaf6ff;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: #011135;
    }
    .btn-icon + .btn-icon {
      margin-left: 1rem;
    }
    .btn-icon:hover, .btn-icon:focus, .btn-icon:active {
      color: #ffc107;
    }
  }




  @media only screen and (min-width:992px) {
    .hero {
      height: 75vh;
      background-position: right center;
      .hero-text{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding: 1.4rem;
        h2 {
          font-size: 4rem;
        }
        h5 {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
        }
        a {
          margin-bottom: 1rem;
        }
      }
    }
  }

  @media only screen and (min-width:768px) {
    .hero {
      height: 75vh;
      background-position: right center;
      .hero-text{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding: 1.4rem;
        h2 {
          font-size: 4rem;
        }
        h5 {
          font-size: 2.5rem;
          margin-bottom: 1.5rem;
        }
        a {
          margin-bottom: 1rem;
        }
      }
    }
  }


