.section__projects {
    &_card {
      .card {
        margin-top: 1rem;
        a.disabled {
          pointer-events: none;
          cursor: default;
          background-color: gray;
          border-color: gray;
        }
      }
    }
    h2 {
      text-align: center;
    }
    .section__projects_btn {
      width: 48%;
      font-size: small;
      margin-top: 1rem;
      margin-bottom:1rem;
    }

  }

  @media only screen and (min-width: 772px) {
    .section__projects {
      .col-sm-25 {
        width: 24%;
      }
    }
  }

  .section__projects_card {
    .card{
      margin-top: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    img {
      margin-top: 0.4rem;
    }
    .card-header {
      font-size: 15px;
      background-color: #011135;
      color: white;
    }
    .list-group-item {
      font-size: 0.75rem;
    }
  }
