.section__skills {
    .list-title {
      list-style: none;
    }
    h6 {
      display: flex;
      align-items: flex-end;
    }
    h2 {
      text-align: center;
    }
    h3 {
      margin-top: 1rem;
    }
    &__container{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      img {
        width: 3rem;
        height: 3rem;
        margin-right: 2em;
      }
    }
  }

  .tools {
    padding: 0 1.7rem;
  }

  .progress {
    position: relative;
    overflow: visible;
    height: 5px;
    margin-bottom: 1rem;
    .progress-bar {
      height: 5px;
    }
    .progress-value {
      position: absolute;
      right: 0;
      top: -20px;
    }
  }
  .progress-badge {
    font-size: 0.7rem;
  }


  .col-sm-25 {
    flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
  }

  @media only screen and (min-width: 772px) {
    .progress-badge {
      font-size: 0.9rem;
    }
    .col-sm-25 {
      width: 24%;
    }
  }

  .transversal_skills {
    .card{
      margin-top: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    img {
      margin-top: 0.4rem;
    }
    .card-header {
      font-size: 15px;
      background-color: #011135;
      color: white;
    }
    .list-group-item {
      font-size: 0.75rem;
    }
  }



